.head {
  font-weight: 900;
}

.hdg1 {
  line-height: 1.2;

  @include pc() {
    font-size: 4.2rem;
  }

  @include sp() {
    font-size: 2.4rem;
  }
}

.date {
  color: $crl-dark-grey;

  @include pc() {
    margin-top: 28px;
    font-size: 1.3rem;
  }

  @include sp() {
    margin-top: 14px;
    font-size: 1.1rem;
  }
}

.updateDate {
  display: inline-block;

  @include pc() {
    margin-left: 10px;
  }
  @include sp() {
    margin-left: 5px;
  }
}

.thumb {

  @include pc() {
    margin-top: 24px;
  }

  @include sp() {
    margin-top: 12px;
  }
}

.content {
  display: flex;

  @include sp() {
    flex-direction: column;
  }
}

.side {
  position: relative;

  @include sp() {
    margin-top: 30px;
  }

  @include pc() {
    width: percentage(184/940);
  }

}

.article {

  @include pc() {
    flex-grow: 1;
    padding: 36px 0 60px;
    width: 756px;
  }

  @include sp() {
    padding: 18px 0 60px;
    width: 100%;
  }

  & > :last-child {
    margin-bottom: 0;
  }

  & > h2 {
    margin-top: 0 !important;
  }

  p  {
    @include pc() {
      margin-bottom: 40px;
    }
    @include sp() {
      margin-bottom: 34px;
    }
  }

  h2 {
    position: relative;
    font-weight: 900;
    line-height: 1.2;
    border-bottom: 1px dashed $crl-dark-grey;

    @include pc() {
      margin: 60px 0 15px;
      padding-bottom: 12px;
      font-size: 3.0rem;
    }

    @include sp() {
      margin: 60px 0 10px;
      padding-bottom: 6px;
      font-size: 2.0rem;
    }
  }

  h3 {
    position: relative;
    font-weight: 900;
    line-height: 1.2;

    @include pc() {
      margin: 40px 0 0;
      padding-bottom: 12px;
      font-size: 2.4rem;
    }

    @include sp() {
      margin: 20px 0 0;
      padding-bottom: 6px;
      font-size: 1.6rem;
    }
  }

  ol,
  ul {
    @include pc() {
      margin: 40px 0 40px 40px;
    }
    @include sp() {
      margin: 34px 0 34px 25px;
    }
  }

  li {
    line-height: 1.6;
    list-style-type: disc;

    @include pc() {
      font-size: 1.6rem;
    }
    @include sp() {
      font-size: 1.3rem;
    }
  }

  strong {
    color: #FB5A5A;
  }

  img {
    display: block;
    width: 100%;
    pointer-events: none;
  }

  code {

    @include pc() {
      font-size: 1.4rem;
    }
    @include sp() {
      font-size: 1.1rem;
    }

  }
}

.comment {
  @include pc() {
    margin-top: 100px;
  }
  @include sp() {
    margin-top: 50px;
  }
}


.tabWrap {
  @include pc() {
    margin-top: 100px;
  }
  @include sp() {
    margin-top: 50px;
  }
}

.prifileWrap {
  @include pc() {
    margin-top: 100px;
  }

  @include sp() {
    margin-top: 50px;
  }
}