@font-face {
  font-family: 'Noto Sans CJK jp';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/NotoSansCJKjp-Medium.otf') format('woff');
  font-display: swap;
}
  

@font-face {
  font-family: 'Noto Sans CJK jp';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/NotoSansCJKjp-Black.otf') format('woff');
  font-display: swap;
}


