html {
  font-size: 62.5%;
  font-family: 'Noto Sans CJK jp', sans-serif;
  font-weight: 700;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-size: 1.6rem;
  color: $crl-black;
  background-color: $crl-light-grey;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  line-height: 2;

  @include pc() {
    font-size: 1.6rem;
  }
  @include sp() {
    font-size: 1.3rem;
  }
}

a {
  color: $crl-black;

  @include pc() {
    &:hover {
      opacity: 0.6;
    }
  }
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
  outline: none;
  appearance: none;

  @include pc() {
    &:hover {
      opacity: 0.6;
    }
  }
}