.hdg2 {
  font-weight: 900;

  @include pc() {
    font-size: 4.2rem;
  }

  @include sp() {
    font-size: 2.8rem;
  }
}

.cardWrapLarge {

  @include pc() {
    margin-top: 40px;
  }

  @include sp() {
    margin-top: 20px;
  }
}

.cardWrapMedium {

  @include pc() {
    margin-top: 40px; 
  }

  @include sp() {
    margin-top: 25px; 
  }

}

.sectionProfile {

  @include pc() {
    margin-top: 56px;
  }

  @include sp() {
    margin-top: 56px;
  }
}

.profileWrap {

  @include pc() {
    margin-top: 36px;
  }

  @include sp() {
    margin-top: 20px;
  }
}