.container {
  padding: 0 4%;
}

.inr {
  margin: 0 auto;
  max-width: 940px;

  @include pc() {
    margin-top: 70px;
    padding: 50px 0;
  }

  @include sp() {
    margin-top: 50px;
    padding: 25px 0;
  }
}