.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include pc() {

    &::after {
      content: "";
      display: block;
      width: percentage(290/940);
    }
  }
}

.item {
  width: auto;

  &.isMedium {

    @include pc() {
      width: percentage(290/940);

      &:nth-child(4) {
        margin-top: 40px;
      }
    }

    @include sp() {
      width: calc(50% - 7.5px);

      &:nth-child(3) {
        margin-top: 25px;
      }
    }
  }

  &.isLarge {

    @include pc() {
      width: percentage(450/940);

      &:nth-child(3) {
        margin-top: 40px;
      }

    }

    @include sp() {
      width: calc(50% - 7.5px);

      &:nth-child(3) {
        margin-top: 25px;
      }

    }
  }
}