.wrap {
  display: flex;
}

.thumb {
  border-radius: 50%;
  background-color: #fff;

  @include pc() {
    min-width: 78px;
    height: 78px;
  }

  @include sp() {
    min-width: 78px;
    height: 78px;
  }

  img {
    border-radius: 50%;
  }
}

.txt {

  @include pc() {
    padding-left: 30px;
  }

  @include sp() {
    padding-left: 15px;
  }
}

.hdg {
  font-weight: 900;

  @include pc() {
    font-size: 2.2rem;
  }

  @include sp() {
    font-size: 1.8rem;
  }
}

.desc {
  line-height: 1.5;

  @include pc() {
    margin-top: 10px;
    font-size: 1.3rem;
  }

  @include sp() {
    margin-top: 10px;
    font-size: 1.1rem;
  }

}

.link {
  display: inline-block;
  text-decoration: underline;

  @include pc() {
    margin-top: 10px;
    font-size: 1.3rem;
  }

  @include sp() {
    margin-top: 10px;
    font-size: 1.1rem;
  }
}