.tags {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.tag {

  &:not(:first-child) {

    @include pc() {
      margin-left: 14px;
    }
    @include sp() {
      margin-left: 7px;
    }
  }
}