.tags {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;

  @include pc() {
    margin-top: -14px;
  }
  @include sp() {
    margin-top: -7px;
  }
}

.tag {

  @include pc() {
    margin-top: 14px;

    &:not(:last-child) {
      margin-right: 14px;
    }
  }

  @include sp() {
    margin-top: 7px;

    &:not(:last-child) {
      margin-right: 7px;
    }
  }
}