.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: $crl-black;
  z-index: 100;

  @include sp() {
    height: 50px;
  }

}

.inr {
  display: flex;
  align-items: center;
  width: inherit;
  height: inherit;

  @include pc() {
    padding: 0 58px;
  }

  @include sp() {
    padding: 0 4%;
  }
}

.hdg {
  margin: 0;
}

.link {
  display: block;
  color: white;
  text-decoration: none;

  @include pc() {
    width: 115px;
    height: 12px;
  }

  @include sp() {
    width: 105px;
    height: 12px;
  }
}